input { 
	file{ 
		type => "esbtranlog"
		path => "D:\Software\jboss fuse\jboss-fuse-6.3.0.redhat-224\data\log\tranlog.log"
	}
	file{ 
		type => "esbfuselog"
		path => "D:\Software\jboss fuse\jboss-fuse-6.3.0.redhat-224\data\log\tranlog.log"
		codec => multiline {
		  pattern => "^<%{WORD:ignoreBegin}>%{SYSLOGTIMESTAMP:syslogDate} %{SYSLOGHOST:source} %{DATA:programName}: %{TIMESTAMP_ISO8601:karafLogDate}"
		  negate => true
		  what => "previous"
		}
	}
	stdin { type => "fuselog" } 
}

filter {

	if [type] == "esbtranlog" {
	  grok {
		match => { 
			message => "<%{WORD:ignore}\>%{SYSLOGTIMESTAMP:time} %{SYSLOGHOST:clientip} -: %{GREEDYDATA:request}" 
		}
	  }
	  json {
			source => "request"
			target => "log"
			remove_field=>["request"]
		}   
	}
  if [type] == "esbfuselog" {
    grok {      
      match => { 
        "message" => "<%{WORD:ignoreBegin}>%{SYSLOGTIMESTAMP:syslogDate} %{SYSLOGHOST:source} %{DATA:programName}: %{TIMESTAMP_ISO8601:karafLogDate}%{SPACE}\|%{SPACE}%{LOGLEVEL:level}%{SPACE}\|%{SPACE}%{DATA:thread}%{SPACE}\|%{SPACE}%{DATA:category}%{SPACE}\|%{SPACE}%{DATA:bundle}%{SPACE}\|%{SPACE}%{GREEDYDATA:messagetext}" 
      }
    }
    date {
       match => ["logdate", "yyyy-MM-dd HH:mm:ss,SSS"]
    }
  }
}
output {
	file{ 
		path => "D:\Software\jboss fuse\jboss-fuse-6.3.0.redhat-224\data\log\parsed.txt"
	}
  stdout { codec => rubydebug }
}
